                <td><%= recipe.recipe.label %></td>
                <td><img src=<%= recipe.recipe.image %>  alt=<%= recipe.recipe.label %>></td>
                <td><%= recipe.recipe.label %></td>
                <td><%= recipe.recipe.dietLabels[0] %></td>
                <td><%= recipe.recipe.ingredientLines[0] %></td>
                <td><%= recipe.recipe.healthLabels[0] %></td>
                <td><%= recipe.recipe.totalWeight %></td>
                <td><%= recipe.recipe.totalTime %></td>
                <td><%= recipe.recipe.calories %></td>
                <td><%= recipe.recipe.mealType[0] %></td>
                <td><%= recipe.recipe.totalNutrients %></td>