            
            <td><%= recipes.recipe.label %></td>
                <td><img src=<%= recipes.recipe.image %>  alt=<%= recipes.recipe.label %>></td>
                <td><%= recipes.recipe.label %></td>
                <td><%= recipes.recipe.dietLabels[0] %></td>
                <td><%= recipes.recipe.ingredientLines[0] %></td>
                <td><%= recipes.recipe.healthLabels[0] %></td>
                <td><%= recipes.recipe.totalWeight %></td>
                <td><%= recipes.recipe.totalTime %></td>
                <td><%= recipes.recipe.calories %></td>
                <td><%= recipes.recipe.mealType[0] %></td>
                <td><%= recipes.recipe.totalNutrients %></td>
