   
               <h2><td><%= recipes.recipe.label %>
                <img src=<%= recipes.recipe.image %>  alt=<%= recipes.recipe.label %>>
                <%= recipes.recipe.label %>
                <%= recipes.recipe.dietLabels[0] %>
                <%= recipes.recipe.ingredientLines[0] %>
                <%= recipes.recipe.healthLabels[0] %>
                <%= recipes.recipe.totalWeight %>
                <%= recipes.recipe.totalTime %>
                <%= recipes.recipe.calories %>
                <%= recipes.recipe.mealType[0] %>
                <%= recipes.recipe.totalNutrients %> </h2>
       
