<h2> Recipes search results</h2>

<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
        <% for( let index = 0; index < recipes.length; index++ ) { %>
            <% let recipe = recipes[index] %> 
            <tr>
                <th>
                    <a type="button" href=<%= `/details/${recipe.Indrecipe}` %> class="btn btn-primary">
                        <%= `See details for ID: ${recipe.Indrecipe}` %>
                    </a>
                </th>
                <td><%= recipe.recipe.label %></td>
                <td><img src=<%= recipe.recipe.image %>  alt=<%= recipe.recipe.label %>></td>
                <td><%= recipe.recipe.label %></td>
                <td><%= recipe.recipe.uri %></td>
                <td><%= recipe.recipe.ingredientLines[0] %></td>
            </tr>
        <% } %>
    </tbody>
</table>