<h2> Recipes search results</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Go to details</th>
            <th scope="col">Poster</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">IMDBId</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < recipes.length; index++ ) { %>
            <% let recipe = recipes[index] %> 
            <tr>
                <td><%= recipe.recipe.label %></td>
                <td><img src=<%= recipe.recipe.image %>  alt=<%= recipe.recipe.label %>></td>
                <td><%= recipe.recipe.label %></td>
                <td><%= recipe.recipe.uri %></td>
                <td><%= recipe.recipe.ingredientLines[0] %></td>
            </tr>
        <% } %>
    </tbody>
</table>