<h1>this shows 1 recipe</h1>
<%=recipe.recipe.label %></td>
                <img src=<%= recipe.recipe.image %>  alt=<%= recipe.recipe.label %>>
                <%= recipe.recipe.label %>
                <%= recipe.recipe.uri %>
                <%= recipe.recipe.ingredientLines[0] %>