<h2> Recipes search results</h2>

<form method="get" action="/recipes/search">
    <button type="submit">Back to Search</button>
</form>
<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
        <% for( let index = 0; index < recipes.length; index++ ) { %>
            <% let recipe = recipes[index] %> 
            <tr>
                <td><%= recipe.recipe.label %></td>
                <td><img src=<%= recipe.recipe.image %>  alt=<%= recipe.recipe.label %>></td>
                <td><%= recipe.recipe.label %></td>
                <td><%= recipe.recipe.uri %></td>
                <td> 
                    <form method="POST" action="/recipes/new">
                    <input type="text" value=<%= recipe.recipe.image%> name="img" hidden > 
                    <input type="text" value=<%= recipe.recipe.uri %> name="recipeUri" hidden >
                    <input type="text" value=<%= recipe.recipe.label %> name="dishName" hidden >
                    <input type="text" value=<%= recipe.recipe.url %> name="url" hidden >
                    <input type="text" value=<%= recipe.recipe.totalTime %> name="recipeTime" hidden >
                    <input type="text" value=<%= recipe.recipe.calories %> name="recipeCalories" hidden >
                    <input type="text" value=<%= recipe.recipe.ingredientLines[0] %> name="ingredients" hidden >
                    <input type="text" value=<%= recipe.recipe.dietLabels[0] %> name="dietLabels" hidden >
                    <input type="text" value=<%= recipe.recipe.totalNutrients %> name="totalNutrients" hidden >
                    <input type="text" value=<%= recipe.recipe.mealType[0] %> name="mealType" hidden >
                    <input type="text" value=<%= recipe.recipe.cuisineType %> name="cuisine" hidden >
                    <input type="text" value=<%= currentUser.id %> name="userId" hidden >
                    <button class="btn btn-primary" type="submit"> Add Recipe to make</button>
                    </form>
                </td>
            </tr>

        <% } %>
    </tbody>
</table>
