
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Company Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  </head>
  <body>
    <style>
      .bg-grey {
        background-color: #f6f6f665;
      }
      </style>
      
    <style>
      .logo {
        font-size: 100px;
        color: #f4d213;
      }
      @media screen and (max-width: 768px) {
        .col-sm-4 {
          text-align: center;
          margin: 25px 0;
        }
      }
      </style>
  
  <div class="py-5 text-center container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Recipe Full description</h2>
        <a href="/recipes" class="btn btn-primary my-2">Go Back To All recipes</a>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-cutlery logo"></span>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <img class="bd-placeholder-img card-img-top" width="500" height="450" src="<%= recipe.img %>  ">
      </div>
      <div class="col-sm-8">
        <h2>Our Values</h2>
        <h3><strong>information</strong> </h3>
          <h5><strong>Name:</strong><%= recipe.dishName %></h5>
          <h5><strong>Time:</strong><%= recipe.recipeTime %></h5>
          <h5><strong>Calories:</strong><%= recipe.recipeCalories %></h5>
          <h5><strong>Cuisine:</strong><%= recipe.cuisine %></h5>
          <h5><strong>Meal Type:</strong><%= recipe.mealType %></h5>
        <p><strong>Ingredients:</strong> <%= JSON.stringify(recipe.listIngredients)%></p>
      </div>
    </div>
  </div>
 <div class="well">
  <form action="./<%=recipe.id%>/comments" method="POST">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a name here" name= "name" id="floatingTextarea2" style= "height:50px; width:200px" required></textarea>
      <label for="floatingTextarea2">Name</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" name= "content" id="floatingTextarea2" style="height:50px; width:500px" required></textarea>
      <label for="floatingTextarea2">Comments</label>
    </div>
    <div class="form-group">
      <label for="recipeId"></label>
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
<div class="row">
  <div class="well">
    <% comments.forEach(function(comment) {%>
      <h4><small><%= comment.name%></small> <%=comment.content %> </h4>
      <div class="panel-footer">
        <b>posted at:</b> <%= comments.updatedAt %>
      </div>
    </div>
    <%})%>
  </div> 
  
  </body>
  </html>
  
 
